/*This is developed by SYLVESTER ADEDIGBA (adesly07)
/*body{
    background-image: linear-gradient(to right, #0f718a, #004d7a, #008793, #a8eb12);
    
}*/
body{
    background-color: #004d7a;
}/*
body{
    background-image: url(img/bg.jfif);
    background-repeat: no-repeat;
}*/
#container{
    display: block;
    width: 40%;
    height: 470px;  
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#signcont{
    display: block;
    width: 40%;
    height: 320px;  
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#h1 {
    color: #008793;
    text-transform: uppercase;
    text-shadow: 1px 1px;
    margin-bottom: 5px;
    font-size: 16px;
}
#horlin{
    width: 100px;
}
.input-field{
    position: relative;
}
.input-field input{
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #0f718a;
    border-radius: 5px;
    color: gray;
    outline: none;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s all ;
}
input:focus{
    border: 1px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
input:focus~label,
input:valid~label{
    top: 30px;
    left: 15px;
    bottom: 10px;
    padding: 0 2px;
    color: #004d7a;
    background: none;
    font-size: 14px;
}
#submit{
    background-color: #004d7a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
#submit:hover{
    background-color: #004d7a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition: 2ms;
    box-shadow: 0px 4px 4px 0px rgba(5, 108, 116, 0.5), 0 6px 20px 0 rgba(5, 108, 116, 0.5);
}
.rbutton{
    text-align: right;
}
img{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.userfield{
    background: url(img/user.png);
    background-repeat: no-repeat;
    background-size: 5% auto;
    background-position: 98.5% 50%;
}
.pwdfield{
    background: url(img/pwd.png);
    background-repeat: no-repeat;
    background-size: 5% auto;
    background-position: 98.5% 50%;
}